.powered-by-morpho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    opacity: 1;
}

.powered-by-morpho-text {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;
    z-index: 1;
}

.powered-by-morpho-logo {
    height: 100px;
    width: auto;
    display: block;
    margin-top: -30px;
}